<mat-list>
    <mat-list-item>
        <a mat-raised-button color="primary" routerLink="/caregiver">Caregiver</a>
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button color="primary" routerLink="/physician/1">Physician</a>
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button color="primary" routerLink="/patient">Patient</a>
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button color="primary" routerLink="/admin">Admin</a>
    </mat-list-item>
</mat-list>