mat-toolbar {
  background-color: #c9c9c9;
  height: 7vh;
  min-height: 6vh;
  position: fixed;
  z-index: 3;

  mat-toolbar-row {
    background-color: #c9c9c9;
    height: 7vh;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
  }
}

.escalate {
    height: 20px;
}

.de-escalate {
  transform: rotate(180deg);
}
.toolbar-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
