<mat-toolbar color="secondary">
 <mat-toolbar-row>
   <span>Camera Setup</span>
 </mat-toolbar-row>
</mat-toolbar>
<mat-list role="list">
    <mat-list-item role="listitem">1. Set up phone mount</mat-list-item>
    <mat-list-item role="listitem">2. Turn the phone to landscape to start the camera placement set-up</mat-list-item>
</mat-list>
<img mat-card-image src="/assets/img/rotatephone.png" />
<div mat-dialog-actions align="end">
    <button color="primary" mat-raised-button  type="submit">Next</button>
</div>