<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Patient</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Information</span>
    </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="patientRegistrationForm" (ngSubmit)="onSubmit(patientRegistrationForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Patient Name</mat-label>
        <input id="name" formControlName="name" matInput placeholder="Patient Name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input id="location" formControlName="location" matInput placeholder="Patient Location">
    </mat-form-field>
    <div mat-dialog-actions align="end">
        <button color="primary" mat-raised-button type="submit">Next</button>
    </div>
</form>