<form [formGroup]='loginFormGroup' (ngSubmit)="login()">
    <div>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input formControlName="userName" matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput>
        </mat-form-field>
    </div>

    <div>
        <button mat-button>Patient Login</button>
        <button type="submit" mat-button>Login</button>
    </div>
</form>